$color: #666;
$over_color: #000;
$background_color_male: lightblue;
$background_color_female: lightpink;
$border_color: #94a0b4;
$border_color_no_hover: black;


.node.self-leaf {
  background-color: transparent !important;
  background-image: none !important;
  border-color: #3a63c2 !important;
  color: #3a63c2 !important;
}

div span.node:only-child {
  border: none;
}


.tree li div {
  border: 1px solid #14456d !important;

}


// div .top {
//   border: none !important;
// }
