<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="voorpagina">

<!-- end about -->

<h1>Familiedag 2023</h1>
   
   <div class="content">
      
      <!-- card -->
      <a href="https://familiedag2023.nl/stamboom">
            
      <div class="card">
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/512/3473/3473474.png" alt="Stamboom_bekijken icon"></div>
            <p class="title">Stamboom bekijken</p>
            <p class="text">Klik hier om de stamboom te bekijken</p>
      </div>
      </a>

      <!-- end card -->
      <!-- card -->
      <a href="https://familiedag2023.nl/programma">
      <div class="card">
            <div class="icon"><img src="https://cdn-icons-png.flaticon.com/512/4598/4598921.png" alt="stamboom icoon"><i class="material-icons md-36"></i></div>
            <p class="title">Dag programma</p>
            <p class="text">Klik hier om het dagprogramma te bekijken</p>
      </div>
      </a>

      <!-- end card -->
      <!-- card -->
      <a href="https://familiedag2023.nl/stamboom_vullen">
      <div class="card">
        <div class="icon"><img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/256/sign-add-icon.png" alt="Stamboom_vullen icon"></div>
        <p class="title">Stamboom vullen</p>
        <p class="text">Klik hier om de stamboom aan te vullen</p>
     </div>
      </a>
      <!-- end card -->
   

   
   </div>


